@import url(global.css);

a, input, button{
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.form1{
    display: block;
    width: 100%;
    height: max-content;
    margin: auto;

    background-color: rgba(255, 196, 0, 0);

}

/* Profile */
.profile {
    grid-area: profile;

    display: block;
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 30px;

    background-color: rgba(0, 255, 13, 0);
}

.profile > img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;

    border: 5px solid rgba(255, 255, 255, 0.678);
    border-radius: 50%;

}

.profile .toUploadPicProfile{
    display: flex;
    width: 100%;
    height: max-content;
    margin: auto;
    margin-top: 20px;
    

    padding-bottom: 0px;

    background-color: rgba(137, 43, 226, 0);

}

.profile .toUploadPicProfile label{
    cursor: pointer;

}

.profile .toUploadPicProfile input[type="file"]{
    opacity: 0;

}

#label{
    display: block;
    width: 50%;
    height: 70px;
    margin: auto;
    text-align: center;
    border-radius: 10px;

    background-color: rgba(179, 216, 12, 0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.007);

}

#label span{
    margin-top: -5px;

}

#label span img{
    margin-top: 10px;

}

.submit{
    background-color: rgba(255, 145, 0, 0.822);
    display: block;
    width: 60%;
    height: 60px;
    margin: auto;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-top: -30px;

}


/* Name */
.name{
    grid-area: name;

    display: block;
    width: 100%;
    height: 200px;
    margin-top: -20px;
    padding: 10px;


    background-color: rgba(0, 0, 255, 0);

}

.toChangeName{
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    text-align: center;


    background-color: rgba(0, 0, 0, 0);


}

.toChangeName form{
    margin-top: 10px;

}

input[type="text"], input[type="password"], input[type="email"]{
    display: block;
    width: 60%;
    height: 45px;
    margin: auto;
    text-align: center;

    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(29, 135, 184, 0.404);
    color: white;
    font-family: monospace;
    font-size: 16px;

    transition: all 0.3s ease-in;



}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    box-shadow: inset 0px 6px 8px rgba(11, 164, 202, 0.726);
    outline: 2px solid rgb(218, 68, 8);
    color: aqua;



}

input[type="submit"], button{
    display: block;
    width: 40%;
    height: 50px;
    margin: auto;
    margin-top: 10px;

    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgba(214, 111, 15, 0.932);

    cursor: pointer;

}

form{
    padding-bottom: 20px;
    border-bottom: 1px solid white;

}

form.lastForm{
    border:none;

}


/* Password */
.password{
    grid-area: password;

    display: block;
    width: 100%;
    height: 200px;
    margin-top: -20px;
    padding: 10px;

    position: relative;
    z-index: 1;

    background-color: rgba(0, 255, 255, 0);

}

.toChangePass{
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    text-align: center;

}

.toChangePass form{
    margin-top: 10px;

}
/* Email */
.email{
    grid-area: email;

    display: block;
    width: 100%;
    height: 200px;
    margin-top: -20px;
    padding: 10px;

    position: relative;
    z-index: 1;


    background-color: rgba(165, 42, 42, 0);

}

.toChangeEmail{
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    text-align: center;

}

.toChangeEmail form{
    margin-top: 10px;

}


/* POP UP PARA LA CONTRASEÑA y EMAIL*/

#popPass, #popEmail{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% max-content;
    grid-template-areas: 
    'close'
    'form'
    ;


    width: 100%;
    height: 0vh;
    margin: auto;

    position: fixed;
    top: 0px;


    z-index: -100;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.664);


}

#popPass form{
    grid-area: form;

    display: block;
    width: 90%;
    height: 240px;
    margin-top: -200px;
    margin-left: 5%;

    border-radius: 10px;


    background-color: rgb(0, 22, 54);
    

}


#popPass form input[type="password"]:first-child{
    margin-top: 45px;

}

#popPass form input[type="password"]:nth-child(2){
    margin-top: 5px;

}

#popPass form input[type="password"]::placeholder{
    color: white;

}


#closePopPass{
    grid-area: close;

    display: block;
    width: 50px;
    height: 50px;
    font-size: 30px;

    text-align: center;
    color: white;
    text-decoration: none;

    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);

}

#closePopPass:hover{
    color: red;

}


#closePopPass:active{
    color: red;

}

/* Codigo desde PHP */
.messagePass{
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 217, 255);

}

/* EMAIL */

#popEmail form{
    grid-area: form;

    display: block;
    width: 90%;
    height: 240px;
    margin-top: -200px;
    margin-left: 5%;

    border-radius: 10px;


    background-color: rgb(0, 22, 54);
    

}


#popEmail form input[type="email"]:first-child{
    margin-top: 45px;

}

#popEmail form input[type="email"]:nth-child(2){
    margin-top: 5px;

}

#popEmail form input[type="email"]::placeholder{
    color: white;

}
