@import url(global.css);

/* OPTION */

.option{
    display: block;
    width: 90%;
    height: max-content;
    margin: auto;
    margin-top: 40px;

    border-radius: 10px;
    background-color: var(--primario);

}

.option div{
    display: block;
    width: 90%;
    height: max-content;
    margin: auto;

    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;



}

.option div a{

    display: block;
    width: 90%;
    height: 50px;
    margin: auto;

    padding-top: 10px;

    text-decoration: none;
    color: white;

    font-size: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.option div a:hover{
    color: rgb(21, 173, 219);

}

/* LOGIN */

.form form{
    display: block;
    width: 100%;
    height: 86vh;
    margin: auto;
    padding-top: 5px;
    padding-left: 30px;


    background: linear-gradient(rgba(0, 195, 255, 0.692), rgba(0, 0, 0, 0.575)), url(../img/back-form-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

form input{
    width: 90%;
    height: 50px;


    background-color: rgba(5, 5, 5, 0);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding-left: 5px;

    font-size: 20px;

}

form input::placeholder{
    color: rgb(255, 255, 255);
}

form input:focus::placeholder{
    color: cyan;
}

form input:first-child{
    margin-top: 50px;
}

form button{
    display: block;
    width: 40%;
    height: 55px;
    margin-top: 20px;

    border: none;
    border-radius: 5px;


}

form div.status{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    text-align: center;

    border-bottom: 1px solid white;

}

div.status p{
    /* color: rgb(9, 186, 230); */

}

/* Colores del Status del Login */
.correct{
    color: green;

}

.introduce{
    color: rgb(9, 186, 230);

}

.rellena{
    color: rgba(230, 215, 9, 0.904);

}

.incorrectas{
    color: rgb(255, 102, 0);

}




/* CONTACTO PARA IDEAS - SOPORTE */
textarea{
    margin-top: 40px;
    font-size: 20px;
    padding-left: 5px;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    color: white;
    border-radius: 5px;

    


}

textarea:focus{
    box-shadow: 1px 50px 1000px rgba(24, 22, 22, 0.699);

}

textarea::placeholder{
    color: white;

}


.mas{
    display:block;
    width: 80%;
    height:max-content;
    margin: 0 auto;
    text-align: center;

    /* background-color:red; */

}

.mas a{
    color: white;

}

.mas a:first-child:hover{
    color: rgba(255, 136, 0, 0.822);

}

.mas a:last-child:hover{
    color: rgba(30, 180, 0, 0.918);

}

/* -------------------- */
.mas-r{
    display:block;
    width: 80%;
    height:max-content;
    margin: 0 auto;
    text-align: center;

    /* background-color:red; */

}

.mas-r a{
    color: white;

}

.mas-r a:first-child:hover{
    color: rgba(255, 0, 0, 0.822);

}



/* Estilos de Escritorio */

@media (min-width: 860px) {
    .option{
        display: block;
        width: 20%;
        height: max-content;
        margin: auto;
        margin-top: 40px;
    
        border-radius: 10px;
        background-color: var(--primario);
    
    }

    /* LOGIN ESCRITORIO */
    .form form{
        background: linear-gradient(rgba(0, 195, 255, 0.692), rgba(0, 0, 0, 0.575)), url(../img/background-form.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    form input{
        width: 60%;
        height: 50px;
    
    
        background-color: rgba(5, 5, 5, 0);
        color: white;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        padding-left: 5px;
    
        font-size: 20px;
    
    }

    form button{
        display: block;
        width: 20%;
        height: 55px;
        margin-top: 20px;
    
    
    
    }

    form div.status{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 50px;
        margin-left: 10px;
        margin-top: 20px;
        text-align: center;
    
        border-bottom: 1px solid white;
    
    }
    



}