main .container{
    background: linear-gradient(rgb(2, 2, 2), rgb(0, 107, 194));
    display: block;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    padding-bottom:70px;

}

.container h1{
    display: block;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    text-align: center;
    padding:20px;
    margin-bottom:20px;
    color: white;
}

.container div.principal{
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    display: block;
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding: 20px;
    

    
}

.one{
    border-radius: 10px;
    color: red;
    cursor: pointer;
}

.two{
    border-radius: 10px;
    color: yellow;
    cursor: pointer;
}

.three{
    border-radius: 10px;
    color: green;
    cursor: pointer;
}

.four{
    border-radius: 10px;
    color: cyan;
    cursor: pointer;
}

.one:hover{
    color: red;
    box-shadow: inset 0px 5px 5px rgba(255, 0, 0, 0.671);
    cursor: pointer;
}

.two:hover{
    color: yellow;
    box-shadow: inset 0px 5px 5px yellow;
    cursor: pointer;
}

.three:hover{
    color: green;
    box-shadow: inset 0px 5px 5px green;
    cursor: pointer;
}

.four:hover{
    color: cyan;
    box-shadow: inset 0px 5px 5px cyan;
    cursor: pointer;
}

.one, .two, .three, .four{
    display: block;
    width: 100%;
    height:50px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

}

.links{
    display: block;
    width: 100%;
    height:max-content;

}

.links a{
    background-color:rgba(0, 247, 255, 0);
    display: block;
    width: 100%;
    height:50px;
    color: white;
    text-decoration: none;
    padding: 4%;

    transition: all 0.6s ease;

}

.links a:hover{
    display: block;
    width: 100%;
    height:50px;
    color: rgb(0, 195, 255);
    text-decoration: none;

    box-shadow: inset 400px 0px 0px 1px rgba(255, 255, 255, 0.219);


}
