@import url(global.css);

/* OPTION */

.option{
    display: block;
    width: 90%;
    height: max-content;
    margin: auto;
    margin-top: 40px;

    border-radius: 10px;
    background-color: var(--primario);

}

.option div{
    display: block;
    width: 90%;
    height: max-content;
    margin: auto;

    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;



}

.option div a{

    display: block;
    width: 90%;
    height: 50px;
    margin: auto;

    padding-top: 10px;

    text-decoration: none;
    color: white;

    font-size: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* LOGIN */

.form form{
    display: block;
    width: 100%;
    height: 86vh;
    margin: auto;
    padding-top: 5px;
    padding-left: 30px;


    background: linear-gradient(rgba(0, 195, 255, 0.692), rgba(0, 0, 0, 0.575)), url(../img/back-form-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

form input{
    width: 90%;
    height: 50px;


    background-color: rgba(5, 5, 5, 0);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding-left: 5px;

    font-size: 20px;

}

form input::placeholder{
    color: rgb(255, 255, 255);
}

form input:focus::placeholder{
    color: cyan;
}

form input:first-child{
    margin-top: 50px;
}

form button{
    display: block;
    width: 40%;
    height: 55px;
    margin-top: 20px;

    border: none;
    border-radius: 5px;


}

form div.status{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    text-align: center;

    border-bottom: 1px solid white;

}

div.status p{
    /* color: rgb(9, 186, 230); */

}

/* Colores del Status del Login */
.introduce{
    color: rgb(9, 186, 230);

}

.rellena{
    color: rgba(230, 215, 9, 0.904);

}

.incorrectas{
    color: rgb(255, 102, 0);

}




/* REGISTER */

